{% extends 'recipes_app/base.html' %}
{% block content %}
<h2>{{ recipe.title }}</h2>
<p>Описание: {{ recipe.description|linebreaks }}</p>
<h2>Шаги приготовления: </h2>
<p>{{ recipe.preparation_steps|linebreaks }}</p>
<p>Время приготовления: {{ recipe.preparation_time }} минут</p>
<p>Автор: {{ recipe.author }}</p>
<img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="max-width: 50%; height: auto;">
<ul>
    {% for category in recipe.categories.all %}
    <li class="recipe">{{ category.name }}</li>
    {% endfor %}
</ul>
{% endblock %}

